<section class="app-brief grey-bg" id="brief1">
    <div class="container">

        <div class="row">
    
            <!-- PHONES IMAGE -->
            <div class="col-md-6 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s" style="visibility: hidden; animation-duration: 1.5s; animation-name: none;">
                <div class="phone-image">
                    <img src="./FIT Fuze - The new Fitness Application_files/2-workout-left.png" alt="">
                </div>
            </div>
    
            <!-- RIGHT SIDE WITH BRIEF -->
            <div class="col-md-6 left-align wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s" style="visibility: hidden; animation-duration: 1.5s; animation-name: none;">
    
                <!-- SECTION TITLE -->
                <h2 class="dark-text">Predefined training plans and possibility to create your own ones</h2>
    
                <div class="colored-line-left">
                </div>
    
                <!-- FEATURE LIST -->
                <ul class="feature-list">
                    <li><i class="icon_lock_alt"></i>Different predefined training programs</li>
                    <li><i class="icon_check_alt2"></i>Possibility to create your own ones</li>
                    <li><i class="icon_paperclip"></i>More than 200 fully animated exercises</li>
                    <!-- <li><i class="icon_adjust-vert"></i>?</li> -->
                </ul>
    
            </div>
            <!-- /END RIGHT BRIEF -->
    
        </div>
        <!-- /END ROW -->
    
    </div>
</section>
