<section class="features" id="features">
	<div class="container">
		<!-- SECTION HEADER -->
		<div
			class="section-header wow fadeIn animated"
			data-wow-offset="120"
			data-wow-duration="1.5s"
			style="visibility: hidden; animation-duration: 1.5s; animation-name: none;"
		>
			<!-- SECTION TITLE -->
			<h2 class="dark-text">Simple and clean</h2>
			<div class="colored-line"></div>
			<div class="section-description">
				FIT Fuze was designed to let you focus on training
			</div>
		</div>
		<!-- /END SECTION HEADER -->

		<div class="row">
			<!-- FEATURES LEFT -->
			<div
				class="col-md-4 col-sm-4 features-left wow fadeInLeft animated"
				data-wow-offset="10"
				data-wow-duration="1.5s"
				style="visibility: hidden; animation-duration: 1.5s; animation-name: none;"
			>
				<!-- FEATURE -->
				<div class="feature">
					<!-- ICON -->
					<div class="icon-container">
						<div class="icon">
							<i class="icon_map_alt"></i>
						</div>
					</div>

					<!-- FEATURE HEADING AND DESCRIPTION -->
					<div class="fetaure-details">
						<h4 class="main-color">Clear design</h4>
						<p>
							FIT Fuze was designed specifically for the gym conditions. All
							elements are big enough and well spaced - you will never hit the
							wrong one.
						</p>
					</div>
				</div>
				<!-- /END SINGLE FEATURE -->

				<!-- FEATURE -->
				<div class="feature">
					<!-- ICON -->
					<div class="icon-container">
						<div class="icon">
							<i class="icon_gift_alt"></i>
						</div>
					</div>

					<!-- FEATURE HEADING AND DESCRIPTION -->
					<div class="fetaure-details">
						<h4 class="main-color">Free</h4>
						<p>
							FIT Fuze and most of it's contents are completely free.
						</p>
					</div>
				</div>
				<!-- /END SINGLE FEATURE -->

				<!-- FEATURE -->
				<div class="feature">
					<!-- ICON -->
					<div class="icon-container">
						<div class="icon">
							<i class="icon_tablet"></i>
						</div>
					</div>

					<!-- FEATURE HEADING AND DESCRIPTION -->
					<div class="fetaure-details">
						<h4 class="main-color">Not only iPhone</h4>
						<p>
							You can run FIT Fuze on your Apple Watch and leave iPhone in your
							pocket.
						</p>
					</div>
				</div>
				<!-- /END SINGLE FEATURE -->
			</div>
			<!-- /END FEATURES LEFT -->

			<!-- PHONE IMAGE -->
			<div class="col-md-4 col-sm-4">
				<div
					class="phone-image wow bounceIn animated"
					data-wow-offset="120"
					data-wow-duration="1.5s"
					style="visibility: hidden; animation-duration: 1.5s; animation-name: none;"
				>
					<img
						src="img/mainscreen-single.png"
						alt=""
					/>
				</div>
			</div>

			<!-- FEATURES RIGHT -->
			<div
				class="col-md-4 col-sm-4 features-right wow fadeInRight animated"
				data-wow-offset="10"
				data-wow-duration="1.5s"
				style="visibility: hidden; animation-duration: 1.5s; animation-name: none;"
			>
				<!-- FEATURE -->
				<div class="feature">
					<!-- ICON -->
					<div class="icon-container">
						<div class="icon">
							<i class="icon_genius"></i>
						</div>
					</div>

					<!-- FEATURE HEADING AND DESCRIPTION -->
					<div class="fetaure-details">
						<h4 class="main-color">Your feedback matters</h4>
						<p>
							If you have any questions or proposals regarding FIT Fuze - just
							shake your iPhone and submit your request.
						</p>
					</div>
				</div>
				<!-- /END SINGLE FEATURE -->

				<!-- FEATURE -->
				<div class="feature">
					<!-- ICON -->
					<div class="icon-container">
						<div class="icon">
							<i class="icon_lightbulb_alt"></i>
						</div>
					</div>

					<!-- FEATURE HEADING AND DESCRIPTION -->
					<div class="fetaure-details">
						<h4 class="main-color">Everything is here</h4>
						<p>
							FIT Fuze is shipped with all needed information - training plans
							and more than 200 exercises.
						</p>
					</div>
				</div>

				<!-- /END SINGLE FEATURE -->

				<!-- FEATURE -->
				<div class="feature">
					<!-- ICON -->
					<div class="icon-container">
						<div class="icon">
							<i class="icon_ribbon_alt"></i>
						</div>
					</div>

					<!-- FEATURE HEADING AND DESCRIPTION -->
					<div class="fetaure-details">
						<h4 class="main-color">More Features</h4>
						<p>
							FIT Fuze will progress and become better alongside with you.
						</p>
					</div>
				</div>
				<!-- /END SINGLE FEATURE -->
			</div>
			<!-- /END FEATURES RIGHT -->
		</div>
		<!-- /END ROW -->
	</div>
</section>
