<footer>
    <div class="container">
        <!-- LOGO -->
        <img src="img/logo-blue@2x.png" alt="LOGO" class="responsive-img" width="118" height="118">

        <!-- SOCIAL ICONS -->
        <ul class="social-icons">
            <li><a href="https://www.facebook.com/FITFuze"><i class="social_facebook_square"></i></a></li>
            <li><a href="https://twitter.com/fit_fuze"><i class="social_twitter_square"></i></a></li>
        </ul>

        <li><a href="/agb.html">Terms of use</a></li>
        <li><a href="/impressum.html">Impressum</a></li>

        <!-- COPYRIGHT TEXT -->
        <p class="copyright">
            {{ site.data.content.footer-copyright }}
        </p>

    </div>
    <!-- /END CONTAINER -->

</footer>