<section class="screenshots grey-bg" id="screenshot-section">

    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s"
            style="visibility: hidden; animation-duration: 1.5s; animation-name: none;">

            <!-- SECTION TITLE -->
            <h2 class="dark-text">Take a look</h2>

            <div class="colored-line">
            </div>
            <div class="section-description">
                Here you can see several screenshots of the FIT Fuze app for iPhone &amp; Apple Watch
            </div>
            <div class="colored-line">
            </div>

        </div>
        <!-- /END SECTION HEADER -->

        <div class="row wow bounceIn animated" data-wow-offset="10" data-wow-duration="1.5s"
            style="visibility: hidden; animation-duration: 1.5s; animation-name: none;">

            <div id="screenshots" class="owl-carousel owl-theme" style="opacity: 1; display: block;">

                <div class="owl-wrapper-outer">
                    <div class="owl-wrapper">
                        <div class="owl-item">
                            <div class="shot">
                                <a href="img/screenshots/1.png"
                                    data-lightbox-gallery="screenshots-gallery"><img
                                        src="img/screenshots/1.png" alt="Screenshot"></a>
                            </div>
                        </div>
                        <div class="owl-item" >
                            <div class="shot">
                                <a href="img/screenshots/2.png"
                                    data-lightbox-gallery="screenshots-gallery"><img
                                        src="img/screenshots/2.png" alt="Screenshot"></a>
                            </div>
                        </div>
                        <div class="owl-item" >
                            <div class="shot">
                                <a href="img/screenshots/3.png"
                                    data-lightbox-gallery="screenshots-gallery"><img
                                        src="img/screenshots/3.png" alt="Screenshot"></a>
                            </div>
                        </div>
                        <div class="owl-item" >
                            <div class="shot">
                                <a href="img/screenshots/4.png"
                                    data-lightbox-gallery="screenshots-gallery"><img
                                        src="img/screenshots/4.png" alt="Screenshot"></a>
                            </div>
                        </div>
                        <div class="owl-item" >
                            <div class="shot">
                                <a href="img/screenshots/5.png"
                                    data-lightbox-gallery="screenshots-gallery"><img
                                        src="img/screenshots/5.png" alt="Screenshot"></a>
                            </div>
                        </div>
                        <div class="owl-item" >
                            <div class="shot">
                                <a href="img/screenshots/a1.jpeg"
                                    data-lightbox-gallery="screenshots-gallery"><img
                                        src="img/screenshots/a1.jpeg"
                                        alt="Screenshot"></a>
                            </div>
                        </div>
                        <div class="owl-item" >
                            <div class="shot">
                                <a href="img/screenshots/a2.jpeg"
                                    data-lightbox-gallery="screenshots-gallery"><img
                                        src="img/screenshots/a2.jpeg"
                                        alt="Screenshot"></a>
                            </div>
                        </div>
                        <div class="owl-item" >
                            <div class="shot">
                                <a href="img/screenshots/a3.jpeg"
                                    data-lightbox-gallery="screenshots-gallery"><img
                                        src="img/screenshots/a3.jpeg"
                                        alt="Screenshot"></a>
                            </div>
                        </div>
                        <div class="owl-item" >
                            <div class="shot">
                                <a href="img/screenshots/a4.jpeg"
                                    data-lightbox-gallery="screenshots-gallery"><img
                                        src="img/screenshots/a4.jpeg"
                                        alt="Screenshot"></a>
                            </div>
                        </div>
                        <div class="owl-item" >
                            <div class="shot">
                                <a href="img/screenshots/a5.jpeg"
                                    data-lightbox-gallery="screenshots-gallery"><img
                                        src="img/screenshots/a5.jpeg"
                                        alt="Screenshot"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="owl-controls clickable">
                    <div class="owl-pagination">
                        <div class="owl-page active"><span class=""></span></div>
                        <div class="owl-page"><span class=""></span></div>
                        <div class="owl-page"><span class=""></span></div>
                    </div>
                </div>
            </div>
            <!-- /END SCREENSHOTS -->

        </div>
        <!-- /END ROW -->

    </div>
    <!-- /END CONTAINER -->

</section>