<section class="services" id="services">
    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s"
            style="visibility: hidden; animation-duration: 1.5s; animation-name: none;">

            <!-- SECTION TITLE -->
            <h2 class="dark-text">It's Awesome</h2>

            <div class="colored-line">
            </div>

        </div>
        <!-- /END SECTION HEADER -->

        <div class="row">

            <!-- SINGLE SERVICE -->
            <div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s"
                style="visibility: hidden; animation-duration: 1.5s; animation-name: none;">

                <!-- SERVICE ICON -->
                <div class="service-icon">
                    <i class="icon_cloud-upload_alt"></i>
                </div>

                <!-- SERVICE HEADING -->
                <h3>Apple Watch Support</h3>

                <!-- SERVICE DESCRIPTION -->
                <p>
                    Select your favorite training plan, go to gym and leave your iPhone in your pocket. FIT Fuze for
                    Apple Watch allows you to track your workout directly from your wrist!
                </p>

            </div>
            <!-- /END SINGLE SERVICE -->

            <!-- SINGLE SERVICE -->
            <div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s"
                style="visibility: hidden; animation-duration: 1.5s; animation-name: none;">

                <!-- SERVICE ICON -->
                <div class="service-icon">
                    <i class="icon_gift_alt"></i>
                </div>

                <!-- SERVICE HEADING -->
                <h3>Free</h3>

                <!-- SERVICE DESCRIPTION -->
                <p>
                    Download FIT Fuze for free. Several predefined training plans and more than 200 exercises are
                    pre-installed and also completly free. And the option to create your own training plans does not
                    cost you anything!
                </p>

            </div>
            <!-- /END SINGLE SERVICE -->

            <!-- SINGLE SERVICE -->
            <div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s"
                style="visibility: hidden; animation-duration: 1.5s; animation-name: none;">

                <!-- SERVICE ICON -->
                <div class="service-icon">
                    <i class="icon_chat_alt"></i>
                </div>

                <!-- SERVICE HEADING -->
                <h3>No Registration &amp; Log-In</h3>

                <!-- SERVICE DESCRIPTION -->
                <p>
                    FIT Fuze does not require any form of registration. Just donwload it, select a training plan and go
                    to the gym! Try it!
                </p>

            </div>
            <!-- /END SINGLE SERVICE -->

        </div>
        <!-- /END ROW -->

    </div>

</section>